/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url("./popup.css");

/* page reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-mont: 'Montserrat', sans-serif;
  --white: #fff;
  --open-sans: "Open Sans", sans-serif;
  --verdana: verdana, tahoma, sans-serif;
  --Tahoma: tahoma, verdana, sans-serif;
  --sans-serif: sans-serif, verdana, tahoma;
  --open-sans: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  font-family: var(--open-sans);
  font-style: normal;
  width: 100%;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.title h1,
h2,
h3 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: darkblue;
  color: var(--white);
  font-weight: 600;
  align-items: center;
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.nav-item {
  width: max-content;
}

.name b {
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  margin: -10px 0 0;
}

li {
  list-style: none;
}

.nav-menu li {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}

.nav-menu li:hover {
  cursor: pointer;
  border-bottom: 2px solid pink;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* Page-Section Start */
.page-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 120px 40px 20px;
  min-height: 555px;
  height: 100%;
  width: 100%;
}

.meals-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 50px;
}
.meals-count h2 {
  font-size: 15px;
  font-family: var(--open-sans);
  color: palevioletred;
  background: darkblue;
  text-align: center;
  border-radius: 25px;
  border: 3px solid palevioletred;
  padding: 15px;
  margin: -50px 0 25px;
}

.page-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  height: auto;
  width: 100%;
}

/* Page-Section End */
.card-section {
  display: flex;
  width: auto;
}

.card {
  width: 320px;
  border: 3px solid palevioletred;
  border-radius: 27px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: darkblue;
  border-radius: 25px 25px 0 25px;
  padding: 10px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: darkblue;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: whitesmoke;
}

.card-image {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-section img {
  width: 300px;
  height: 300px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  z-index: 1;
}

/* The Like Button */
.like-content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.heart-icon {
  color: red;
}

.like-count::before {
  font-family: sans-serif;
  font-size: 15px;
  content: '100 Likes';
  color: #9c9496;
}

.meal-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.card-btn {
  font-family: var(--open-sans);
  font-size: 15px;
  padding: 8px;
  background-color: pink;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 35px;
  width: 110px;
  transition: all 0.3s ease-in-out;
}

.card-btn:hover {
  background-color: palevioletred;
}

/* The footer start */
footer {
  margin-top: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 0.6rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  padding: 10px;
}

.social-icons li a {
  display: inline-block;
  font-size: 25px;
  transition: 0.5s;
  opacity: 0.75;
}

.social-icons li a:hover {
  transform: translateY(-10px);
  opacity: 1;
}

.footer span,
.footer b {
  font-size: 1rem;
}

.creator {
  font-weight: 400;
  color: palevioletred;
}

/* Media Query Start */
@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: static;
    width: 100vw;
  }

  .social-icons,
  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}